@model OdontoVision.Application.ViewModels.DiagnosticoViewModel
@{
    ViewData["Title"] = "Criar Diagnóstico";
}
<h1>Criar Diagnóstico</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
