@model OdontoVision.Application.ViewModels.ProcedimentoViewModel
@{
    ViewData["Title"] = "Criar Procedimento";
}
<h1>Criar Procedimento</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Preco">Preço</label>
        <input type="number" asp-for="Preco" class="form-control" step="0.01" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
